[tool.ruff]
line-length = 127
indent-width = 4
target-version = "py311"

[tool.ruff.lint]
extend-select = ["I", "TRY", "UP", "D", "W", "N"]
ignore = ["D213", "D202", "D203", "D213", "UP038", "TRY003"]

[tool.ruff.lint.pydocstyle]
convention = "numpy"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"

[tool.ruff.lint.isort]
force-sort-within-sections = true
known-first-party = ["pyecotrend_ista"]
combine-as-imports = true
split-on-trailing-comma = false

[tool.pytest.ini_options]
addopts = "--cov=src/pyecotrend_ista/ --cov-report=term-missing -n auto"
asyncio_mode = "auto"
testpaths = ["tests"]
pythonpath = ["src"]

[tool.pylint.FORMAT]
max-line-length=127

[tool.pylint."MESSAGES CONTROL"]
disable = [
    "too-many-ancestors",
    "too-many-arguments",
    "too-many-instance-attributes",
    "wrong-import-order",
]
