# Main dependencies
requests>=2
dataclasses-json>=0.6

# Optional dependencies: doc
babel==2.17.0
csscompressor==0.9.5
ghp-import==2.1.0
gitpython==3.1.45
htmlmin2==0.1.13
jinja2==3.1.6
jsmin==3.0.1
markdown==3.9
markdown-callouts==0.4.0
mdx-gh-links==0.4
mkdocs==1.6.1
mkdocs-autorefs==1.4.3
mkdocs-click==0.9.0
mkdocs-git-authors-plugin==0.10.0
mkdocs-git-committers-plugin-2==2.5.0
mkdocs-git-revision-date-localized-plugin==1.4.7
mkdocs-literate-nav==0.6.2
mkdocs-material==9.6.21
mkdocs-material-extensions==1.3.1
mkdocs-minify-plugin==0.8.0
mkdocstrings[python]==0.30.1
paginate==0.5.7
pymdown-extensions==10.16.1
pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.9.18
watchdog==6.0.0

# Optional dependencies: publish
tox==4.30.3

# Optional dependencies: test
pytest==8.4.1
pytest-cov==6.2.1
pytest-xdist==3.8.0
requests-mock[fixture]==1.12.1
syrupy==5.0.0
